
<hr>
<h1>Model Ekle</h1>
<br>
<form #addModel="ngForm" class="form-group" >
    <input class="form-control"  #Name="ngModel" name="Name" required [(ngModel)]="modelInput.Name"  >
    <div *ngIf="Name.invalid" class="alert alert-primary">Model İsmi Zorunludur.</div>
</form>
<button [disabled]="Name.invalid" class="btn btn-primary" *ngIf="!modelInput.ID" (click)="add()">Ekle</button>
<button *ngIf="modelInput.ID" [disabled]="Name.invalid" (click)="update()" class="btn btn-primary">Veriyi Degiştir</button>
<button class="btn btn-primary"  (click)="cancel()">İptal</button> 
