<h1>Parça Ekle</h1>
<hr>

<form #addProduct="ngForm">
    <div class="form-group" >
        <input type="text"  [(ngModel)]="product.Name" #Name="ngModel" name="Name" required   placeholder="Ürün İsmi" class="form-control">
        <div class="alert alert-primary" *ngIf="Name.invalid">Ürün İsmi Zorunludur </div>
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="product.Code" #Code="ngModel" name="Code"   placeholder="Ürün Kodu" class="form-control" >
    </div>
    <div class="form-group">
        <input type="number" style="width: 15%;" [(ngModel)]="product.Stock" #Stok="ngModel" name="Stok"  required placeholder="Stok" class="form-control" >
        <div class="alert alert-primary" *ngIf="Stok.invalid">Stok Zorunludur </div>
    </div>
    <div class="form-group">
        <input type="number"  [(ngModel)]="product.Barcode" #Stok="ngModel" name="Barcode"   placeholder="Barkod" class="form-control" >
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="product.BuyingPrice" #BuyingPrice="ngModel" name="BuyingPrice"  placeholder="Alış Fiyatı" class="form-control" >
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="product.SellingPrice" #SellingPrice="ngModel" name="SellingPrice"  placeholder="Satış Fiyatı" class="form-control" >
    </div>
   <button [disabled]="addProduct.invalid" *ngIf="!product.ID"  class="btn btn-primary" (click)="add()">Ekle</button>
   <button [disabled]="addProduct.invalid" *ngIf="product.ID"  class="btn btn-primary" (click)="update()">Veriyi Degiştir</button>
</form>