
<img  src="/assets/photos/200.gif" *ngIf="img" class="img">
<div *ngIf="productList.length == 0 && img == false">
  <hr>
<h1>Parça Kaydı Bulunmamaktadır</h1>
<hr>
</div>

<div *ngIf="productList.length != 0">
  
<h1>Paraça Listesi</h1>
  <table class="table table-hover" >
    <thead>
    </thead>
    <tbody>
      <tr  *ngFor="let product of productList">
        <td>
          <details>
          <summary style="font-weight: bold;" class="Hover">
            İsmi: {{product.Name}} / Stok: {{product.Stock}}  
            </summary>
            <div *ngIf="product.Code"> Ürün Kodu :{{product.Code}} </div>
            <div class="Hover" *ngIf="product.Barcode">Barkod :{{product.Barcode}}</div>
            <div class="Hover" *ngIf="product.SellingPrice">Satış Fİyatı :{{product.SellingPrice}}</div>
            <div class="Hover" *ngIf="product.BuyingPrice">Alış Fiyatı :{{product.BuyingPrice}}</div>
          </details>
        </td>
        <button class="btn btn-primary" (click)="update(product)">Güncelle</button>
      </tr>
    </tbody>
  </table>
</div>