<div style="margin-bottom: 2%;">
    <h1>Personel Ekle</h1>
    <hr>
</div>
<div>
    <form #addemployee="ngForm">
        <div class="form-group">
            <h4>Personel Adı/ Soy Adı </h4>
            <input name="Name" [(ngModel)]="employee.Name" class="form-control" required #Name="ngModel" >
            <div *ngIf="Name.invalid" class="alert alert-primary">Çalışan İsmi/Soy İsmi Zorunludur</div>
           
        </div>
        <div class="form-group">
            <h4>Telefon Numarası/Başında Sıfır Ormadan Giriniz </h4>
            <input name="PhoneNumber" [(ngModel)]="employee.PhoneNumber" required class="form-control" minlength="10" maxlength="10" #PhoneNumber="ngModel" > 
            <div *ngIf="PhoneNumber.invalid" class="alert alert-primary" >Telefon Numarası Zorunludur</div>
        </div>
    </form>
</div>
<button *ngIf="!employee.ID"  [disabled]="addemployee.invalid"class="btn btn-primary" (click)="add()">Ekle</button>
<button *ngIf="employee.ID"  [disabled]="addemployee.invalid"class="btn btn-primary" (click)="update()">Veriyi Degiştir</button>
