

<img *ngIf="img" src="/assets/photos/200.gif" class="img">
    
<form *ngIf="showEmployeeDrop" class="form-group">
    
    <select class="form-control" name="ID" id ="ID" [(ngModel)]="employee.ID" #ID="ngModel">
                <option *ngFor="let employee of employeeList" [value]="employee.ID">{{employee.Name}}  </option>
    </select>
    <div  class="alert alert-primary"  *ngIf="drop">Personel Görevlendirmek zorunludur</div>
    <h4><div *ngFor="let employee of employeeList2"> Görevlendirilen Personel : {{employee.Name}}</div></h4>
    <button (click)="select(employee)" class="btn btn-primary"  [disabled]="!employee.ID || employeeList.length == 0">Calışını Görevlendir</button>
</form>

<div *ngIf="employeeList.length == 0 && noEmployee" >
    <hr>
    <h1>Personel Kaydı Bulunmamaktadır </h1>
    <hr>
</div>



<div *ngIf="showEmployeeList">
    <table class="table table-hover" width="100%" >
        <thead>
            <h1 *ngIf="employeeList.length != 0">Personeller</h1>
        </thead>
        <tbody>
            <tr  *ngFor="let employee of employeeList" >
                <td>
                <details>
                    <summary class="hover" style="font-weight: bold;">
                        Personel Adı / Soy Adı : {{employee.Name}} / Telefon Numarası: {{employee.PhoneNumber}}
                    </summary>
                </details>
                </td>
                <button class="btn btn-primary" (click)="update(employee.ID)" >Güncelle</button>
                <button class="btn btn-primary">İşleri</button>
            </tr>   
        </tbody>
    </table>
    <br>
<br>
<hr>
</div>





<app-addemployee (employeeList)="dataFromAddEmployee($event)" *ngIf="showAddEmployee" [employee]="employee"></app-addemployee>


